input {
  padding: 10px;
  background-color: white;
  width: 40%;
  height: 10px;
  margin: auto;
  border-radius: 10px;
}

.optionsFields {
  padding: 10px;
  background-color: white;
  margin: auto;
}

.inputFields {
  padding: 10px;
  background-color: white;
  margin: auto;
}

.description {
  background-color: white;
  padding-left: 30px;
}

.signs {
  background-color: lightgrey;
  border-radius: 20px;
  padding: 10px;
}

.form {
  width: 50%;
  margin: auto;
}

.selectFields {
  width: 45%;
  margin: auto;
  height: 25px;
}
